*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  outline: none;
  padding: 0;
  font-family: $fontMain;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  min-width: 320px;
  min-height: 100vh;
  overflow-y: scroll;
  color: $black;
  background-color: #D9D9D9;
  font-weight: 400;
  font-size: 16px;
}

picture {
  display: block;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

li {
  list-style-type: none;
}

a {
  color: inherit;
  cursor: pointer;
}

label {
  width: 100%;
}

button {
  user-select: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

section {
  padding: 20px 0;
}
