.wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.cont {
  margin: 0 auto;
  width: 100%;
  max-width: calc(1172px + 20px + 20px);
  padding: 0 20px;
  //@include media(lg) {
  //  padding: 0 20px;
  //  max-width: calc(950px + 20px + 20px);
  //}
  //@include media(md) {
  //  max-width: calc(850px + 20px + 20px);
  //}
  //@include media(sm) {
  //  max-width: calc(700px + 15px + 15px);
  //  padding: 0 15px;
  //}
  //@include media(xs) {
  //  max-width: 475px;
  //}
}
